*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cc808c;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #cc808c4;
  
}

header h1 {
  margin: 0px;
  font-size: 30px;

  color: #222;
}

header .sign-in {
    margin: 0px;
  font-size: 20px;
  padding: 8px 10px;
  background-color: #ffffff;
  border-color: #026c00;
  border-radius: 10px;
  
  color: #026c00;

  cursor: pointer;
}

header .sign-in:hover {
  background-color: #f0f9f0;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199, 230, 212);
    border-radius: 20px;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
  }
  
  .content {
    max-width: 80%;
  }
  
  .subtitle {
    font-size: 25px;
    color: #555;
    margin: 0 0 10px;
  }
  
  h2 {
    font-size: 38px;
    font-style: initial;
    color: #222;
    margin: 10px 0 20px;
  }
  
  .explore-btn {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #14551fee;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .explore-btn:hover {
    background-color: #114926;
  }
  
    .banner img {
        width: 100%;
        max-width: 400px;
    }
    section {
        margin: 0px auto;
        padding: 20px;
        max-width: 1185px;
      }
      
      .pillars .pillar-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
      
      .card {

        background-color: #ffffff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(56, 58, 7, 0.692);
        text-align: center;
      }
      
      .card img {
        width: 50px;
        margin-bottom: 10px;
        border-left: 0cap;
      }
    
      .card h3 {
        font-display: block;
        text-align: left;
        font-size: 20px;
        color: #222;
      }
      
      .card p {
        text-align: left;
        font-size: 14px;
        color: #0a0a0a;
        text-align: left;
      }
      .section {
        margin: 0px auto;
        padding: 20px;
        max-width: 1200px;
      }
      .vision {
        margin: 0;
        text-align: left;
      }
      
      .vision p {
        text-align: left;
        max-width: 1200px;
        color: #0c0c0c;
        }
      
      .vision-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      
      .vision-card {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(44, 15, 15, 0.685);
        text-align: left;
      }
      
      .vision-card img {
        width: 50px;
        margin-bottom: 10px;
        border-left: 0cap;
      }
      
      .vision-card h3 {
        font-size: 18px;
        color: #222;
      }
      
      .vision-card p {
        font-size: 14px;
        color: #555;
        margin-bottom: 20px;
      }
      
      .vision-card button {
        padding: 10px 20px;
        font-size: 14px;
        color: #ffffff;
        background-color: #026c00;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .vision-card button:hover {
        background-color: #014d00;
      }
      .vision  {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      